body{
    height: 97vh; /*view height*/
    width: 100vw;/*view height*/
    background-color: rgb(214, 210, 210);
}

/*header*/
header{
    text-decoration: underline rgb(20, 19, 19); 
    font-size:30pt;
}
/*We use # when an id is defined*/
#meme{
    color: purple;
    font-weight:900;
}
#js{
    color: rgb(196, 101, 175);
    font-style: oblique;
}

/* #main */
#main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* meme-viewer */
#meme-viewer{
    display: flex;
    height: 100%;
}
/* meme-viewer first child*/
#meme-viewer > *:first-child{
    flex-grow: 1;
}
/* meme-viewer all children*/
#meme-viewer > *{
    height: 100%;
}
#meme-viewer .col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col > div{
    width: 48%;
}
.col input {
    width: 90%;
}
/* article */
article{
    flex-grow: 1;
}
/* footer */
footer{
    text-align: center;
}