/*header*/
header{
    text-decoration: underline pink; 
    font-size:30pt;
}
/*We use # when an id is defined*/
#meme{
    color: purple;
    font-weight:900;
}
#js{
    color: skyblue;
    font-style: oblique;
}